body
  background: $black
  color: $white
  font:
    family: $baseFontFamily
    weight: 400

  h1, h2, h3, h4, h5, h6
    font:
      weight: 300

  a
    font:
      weight: 600

  .container
    width: 96%
    margin:
      left: 2%
      right: 2%

